name: unit-test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  unit-test:
    if: github.repository_owner == 'keikoproj'
    name: unit-test
    runs-on: ubuntu-20.04
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v4
      with:
        go-version: ^1.17

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Test
      run: |
        go test -coverprofile ./coverage.txt -v ./...

    - name: Upload to Codecov
      uses: codecov/codecov-action@v3
      with:
        file: ./coverage.txt
